.about-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.project-container{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
    padding: 2%;
    background-color: whitesmoke;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 20px #c0c0c0);
}

.project{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-bottom: 7%;
}
.project img{
    width: 300px;
}
.project .left{
    margin-right: 2%;
}
.project .right{
    margin-left: 2%;
    margin-top: 7%;
}
.lastUpdated{
    position: absolute;
    bottom: 0%;
}