body{
    display: flex;
    flex-direction: column;
}

.about-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    background-color: wheat;
}

.project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
}

.project{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 2%;
    margin-right:2%;
    margin-bottom: 3%;
    background-color: whitesmoke;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 20px #c0c0c0);
    padding: 35px;
    width: 325px;   
}

.project-image-container{
    display: flex;
    justify-content: center; /* Center horizontally */
    
}

.project img{
    display: flex;
    justify-content: center;
    max-width: 325px;
    height: auto;
}

.project .top{
    
}

.project .bot{
    margin-left: 2%;    
}

.project-description{
    margin-bottom: 40px;
}

.lastUpdated{
    position: absolute;
    bottom: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .project-container{
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;
    }
    .project{
        margin-top: 5%;
        padding: 10%;
        width: fit-content;
    }
    .project img {
        max-width: 275px; /* Adjust image size for smaller screens */
    }
    .project .top,
    .project .bot {
        margin: 0; /* Remove margins for smaller screens */
    }
}